* {
  /* max-width: 1140px; */
  margin: 0 auto;
}

body {
  font-family: "Sofia", sans-serif;
  margin-top: 5%;
}
/* submit button */
.btn-primary {
  color: #141414;
  font-weight: 900;
  font-size: 19px;
  border: 0;
  padding: 5px 35px;
  height: 35px;
  border-radius: 5px;
  background: #eef102;
  width: 140px;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #f70f0f;
  font-size: 20px;
  font-weight: 900;
  padding: 3px 35px;
}

.sub-title {
  margin: 22px;
}

.type {
  margin: 10px;
}

.panel-container {
  max-width: 500px;
  height: 400px;
  text-align: center;
}

.text-primary {
  color: #fd6e0a;
}

.head-title {
  font-size: 35px;
  color: #ffffff;
  display: inline-block;
}

.head-title:hover {
  border-radius: 9px;
  transition: 2s;
  background-color: black;
}

.sub-title {
  font-size: 25px;
  color: #ffffff;
  font-weight: 900;
}

.type {
  font-size: 25px;
  color: aliceblue;
  font-weight: 900;
}

.link-input {
  height: 30px;
  width: 200px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  border-radius: 9px;
  border: 2px solid;
}

.select {
  height: 38px;
  width: 200px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  border-radius: 9px;
  border: 2px solid;
}

.opthion-text {
  font-size: 20px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  font-weight: 900;
  text-decoration: line-through;
}

::placeholder {
  color: rgb(0, 0, 0);
}

.condition {
  margin-top: 20px;
  font-size: 15px;
  color: rgb(246, 247, 239);
  font-weight: 900;
  width: 70%;
}

.con-span {
  color: #ff0000;
}

.COPY {
  margin-top: 9px;
  font-size: 12px;
  color: #ffffff;
}

a {
  color: #14f139;
}

form {
  padding: 60px 20px;
  background-image: url(assect/AdobeStock_389328016_Editorial_Use_Only.webp);
  background-repeat: no-repeat;
  background-size: 1100px;
  background-position: center;
}
